<div class="full_page">
  <%= form_tag(books_path, method: :get, id: "research_books_form") do %>
    <%= text_field_tag :book, nil, placeholder: 'Titolo', id: "research_books_input", autofocus: true %>
    <%= submit_tag 'Cerca', class: "btn btn-primary" %>
  <% end %>
</div>
