<p>Ciao <%= @resource.email %>!</p>

<p>Qualcuno ha richiesto un link per cambiare la tua password. Puoi effettuare questa operazione con il seguente link:</p>

<p><%= link_to 'Cambia la password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non sei stato tu a richiedere questa mail, per favore ignorala.</p>
<p>La tua password non verrà modificata fin quando non si completerà la procedura tramite il link.</p>
